<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Search results</title>
  </head>
  <body>
    <h1>Search Results for "{{keyword}}" in "{{location}}":</h1>
    {% for job in jobs%}
    <div>
      <span>{{job.position}}</span>
      <span>{{job.company}}</span>
      <span>{{job.location}}</span>
      <a href="{{job.link}}" target="_blank">Go to apply &roarr;</a>
    </div>
    {% endfor %}
  </body>
</html>
