@keyframes rotating {
  0% {
    transform: rotateZ(0);
  }

  50% {
    transform: rotateZ(180deg);
  }

  100% {
    transform: rotateZ(360deg);
  }
}

@keyframes zzuck {
  0% {
    transform: scaleX(1);
    transform: scaleY(1);
  }

  30% {
    transform: scaleX(0.6);
    transform: scaleY(1.8);
  }

  60% {
    transform: scaleX(1);
    transform: scaleY(1);
  }
  100% {
    opacity: 1;
  }
}
@keyframes stay {
  0% {
    transform: none;
  }
}
