@import "reset.css";
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300;500&family=Libre+Baskerville:wght@700&family=Vollkorn:wght@500;800&display=swap");

body {
  border: solid 5px #00c6ad;
  font-family: "Kanit", sans-serif;
}

.screen__header {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}
.screen__header h1 {
  font-size: 30px;
}
.x_button {
  position: absolute;
  left: 10px;
  top: 3px;
}

.user-component {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.song_info {
  flex-wrap: wrap;
  width: 175px;
  height: 100px;
}
.song_info div:first-child {
  font-size: 35px;
}
.song_info div:last-child {
  font-size: 20px;
}
.album_img {
  display: flex;
  background-color: #ffbd11;
  width: 130px;
  height: 130px;
  border: solid 2px black;
  border-radius: 20px;
}
.song_info div {
  display: inline-block;
}
.user-component:nth-child(2) {
  margin: 45px 0;
}
.user-component:nth-child(2) div {
  display: flex;
  border: solid black;
  border-width: 2px 2px 5px 2px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
}
.user-component:nth-child(2) div:first-child {
  width: 180px;
  height: 65px;
  border-radius: 20px;
}
.user-component:nth-child(2) div:first-child span {
  margin-left: 5px;
  font-size: 25px;
}
li {
  display: flex;
  margin: 50px 20px;
}
.song_list_info {
  display: flex;
  align-items: center;
  width: 300px;
  flex-wrap: wrap;
}
.song_list_info span:first-child {
  margin-right: 150px;
  font-size: 20px;
}
.song_list_info span:last-child {
  font-size: 15px;
}
.album_img_small {
  width: 55px;
  height: 55px;
  border-radius: 20px;
  border: solid black 2px;
  margin-right: 10px;
}
#matargasti_img {
  background-color: #f85a2a;
}
#attitude_img {
  background-color: #ff89bb;
}
#try_everything_img {
  background-color: #1947e5;
}
#sunflower_img {
  background-color: #00c6ad;
}
