@import "reset.css";
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

body {
  display: flex;
  background-color: red;
  width: 100%;
  justify-content: end;
  flex-wrap: wrap;
  font-family: "Bebas Neue", sans-serif;
}
main {
  background-color: white;
  height: 100vh;
  width: 100%;
  padding: 50px 20px;
}
.screen__header {
  width: 100%;
}
.status-bar {
  background-color: #ffce33;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 35px 10px 50px 10px;
  flex-wrap: wrap;
}

.status-bar__column {
  width: 33%;
}

.status-bar__column span {
  padding-right: 0.1rem;
  box-sizing: border-box;
}

.titles {
  font-size: 25px;
}
.botd {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
}
.botd_img {
  width: 100px;
  height: 160px;
  background-color: green;
  margin-right: 20px;
}
.botd_info {
  width: 310px;
}
.botd_info span {
  display: block;
  margin: 5px 0;
}
.botd_info span:first-child {
  font-size: 20px;
}
.botd_info span:nth-child(2) {
  font-size: 15px;
  color: #dfdfdf;
}
.botd_interaction {
  margin: 5px;
}
.keyword div {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 25px;
  margin: 0;
  background-color: #f7f7f7;
}
.status-bar__column:nth-child(2) {
  display: flex;
  justify-content: center;
}

.status-bar__column:nth-child(3) {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.search {
  position: absolute;
  top: 80px;
  left: 20px;
}
.search-bar {
  width: 1000px;
  height: 50px;
  border-radius: 20px;
}
.search_icon {
  position: relative;
}
.search_icon svg {
  position: absolute;
  right: 20px;
  bottom: 12px;
}

.bookmark {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  background-color: #ffce33;
  border-radius: 50%;
}
.others {
  display: inline-block;
}
.others div:last-child {
  background-color: black;
  color: white;
  font-size: 20px;
}
